@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
body {
    margin: 0ex 10ex 0ex 10ex;
    padding: 0ex;
    /*font-family: helvetica, tahoma, arial, verdana, sans-serif;*/
    font-family: Montserrat, sans-serif;
    font-size: 2ex;
    color: #333;
    background-color: #444;
}

pre {
    font-family: "Courier New", Courier, mono;

    font-style: normal;
    background-color: #FFFFFF;
    white-space: pre
}

/*h1 {*/
/*  margin: 1ex 0ex 1ex 0ex;*/
/*  padding: 0ex;*/

/*  line-height: 3ex;*/
/*  font-weight: 900;*/
/*  color: #666;*/
/*}*/

h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495E;
}

h2 {
    margin: 0ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 2ex;
    font-weight: normal;
    color: #34495E;
}

h3 {
    margin: 1ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 1.6ex;
    font-weight: 700;
    color: #222;
}

p {
    font-family: helvetica, tahoma, arial, verdana, sans-serif;

    margin: 0ex 0ex 0ex 0ex;
    padding: 2ex;
}

img {
    border: 0;
}

li {
    font-family: helvetica, tahoma, arial, verdana, sans-serif;

    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex;
}

/* css for table is as below */
.rwd-table {
    margin: 1em 0;
    min-width: 300px;
}
.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.rwd-table th {
    display: none;
}
.rwd-table td {
    display: block;
}
.rwd-table td:first-child {
    padding-top: .5em;
}
.rwd-table td:last-child {
    padding-bottom: .5em;
}
.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}
@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
}
.rwd-table th, .rwd-table td {
    text-align: left;
}
@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }
    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
    }
}

.rwd-table {
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}
.rwd-table tr {
    border-color: #46637f;
}
.rwd-table th, .rwd-table td {
    margin: .5em 1em;
}
@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        padding: 1em !important;
    }
}
.rwd-table th, .rwd-table td:before {
    color: #dd5;
}



a, a:visited, a:link {
    color: #FFFFFF;
    padding: 2px;

    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
}

.btn, .btn:visited, .btn:link {
    border-radius: 15px;
    border: 1px black;
    background-color: #FFFFFF;
    color: black;
    cursor: pointer;
    padding: .5ex 1.7ex;
    /*margin-top: 20px;*/
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
    font-size: 1.5ex;

    text-decoration: none;
    /*font-family: helvetica, tahoma, arial, verdana, sans-serif;*/
}

.btn:hover {
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
    transform: translateY(-3px);
}

#BackLink a {
    color: #005121;
}

#BackLink a:hover {
    color: #54c07a;
}

a:hover {
    color: #69f;
}

a.Button, a.Button:link, a.Button:visited {
    padding: .3ex;
    color: #fff;
    background-color: #005e21;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
}

a.Button:hover {
    color: #000;
    background-color: #54c07a;
}

#Logo {
    width: 33%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #34495E;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

body>#Logo {
    height: 9ex;
}

#Menu {
    width: 33%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #34495E;
    color: #eaac00;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    text-align: center;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

#Menu, #Menu a, #Menu a:link, #Menu a:visited, #Menu a:hover {
    color: #eaac00;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
}

body>#Menu {
    height: 9ex;
}

{
}

#Search {
    width: 33%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    text-align: center;
    background-color: #34495E;
    color: #eaac00;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

body>#Search {
    height: 9ex;
}

#Search input {
    border-width: .1ex .1ex .1ex .1ex;
    border-style: solid;
    border-color: #aaa;
    background-color: #666;
    color: #eaac00;
}

#QuickLinks {
    text-align: center;
    background-color: #FFF;
    width: 99%;
}

#PoweredBy {
    width: 30%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: .3ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #34495e;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

body>#PoweredBy {
    height: 9ex;
}

#Banner {
    width: 69%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: .3ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #34495E;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

body>#Banner {
    height: 9ex;
}

#Content {
    margin: 0;
    padding: 0ex 0ex 0ex 0ex;
    width: 99%;
    color: #333;
    background-color: #FFF;
    border-width: 0;
}

#Separator {
    clear:both;
    margin: 0;
    height:0;
}

#Main {
    margin: 0;
    padding: 1ex;
    color: #333333;
    background-color: #FFF;
    border-width: 1ex 0ex 2ex 0px;
    border-style: solid;
    border-color: #fff;
}

#Sidebar {
    float: left;
    background:inherit;
    width: 30%;
}

#HoverSideBar {
    position: absolute;
    left: 47%;
    top: 24%;
    width: 15%;
    text-align: left;

    z-index: 99;
    visibility: hidden;

    background-color: rgb(180, 204, 56);
    border-radius: 5%;
    padding: 5px;
    opacity: 0.9;

}

#HoverSideBar img{
    visibility: hidden;
    width: 100%;
    height: auto;
}

#HoverSidebarContent ul{
    margin: 5px;
}

#HoverSidebarContent p{
    padding: 5px;
}


#MainImage {
    float: left;
    background:inherit;
    text-align:center;
    width: 50%;
}

#Catalog {
    padding: 1ex;
    background:inherit;
    text-align:center;
}

input[type="submit"]{
    padding: .6ex 1.1ex;
    color: #fff;
    background-color: #005e21;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
    border-width:0;
}
input[type="submit"]:hover {
    color: #000;
    background-color: #54c07a;
    cursor:pointer;
}

input[type="text"]{
    border-radius: 30px;
    padding: 6px 16px;
}

input[type="password"]{
    border-radius: 30px;
    padding: 6px 16px;
}

select{
    border-radius: 30px;
    padding: 6px 16px;
}

#Catalog table{
    margin-left:auto;
    margin-right:auto;
}

#BackLink{
    padding: 1ex;
    float: right;
    border-width: .1ex 0ex .1ex 0px;
    border-style: solid;
    border-color: #000;
}

#Cart{
    width: 69.99%;
    float: left;
    background-color:#fff;
}

#MyList{
    width: 30%;
    float: left;
    background-color:#ccc;
    text-align:left;
}

fieldset {
    width: 35%;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    text-align: right;

    display:inline-block;
    vertical-align:top;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}

/*style sheets for auto-complete */
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 3px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    line-height: 5ex;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.disabled{
    pointer-events:none;
    cursor:default;
    color: gray;
}

/*login card css below*/

label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
}
#forgot-pass {
    color: #2dbd6e;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
}
#login-card {
    visibility: hidden;

    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 99;
    margin: auto;
}
#card-content {
    padding: 12px 44px;
}
#card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}
#signup {
    color: #2dbd6e;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
}
#submit-btn {
    background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #24c64f;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
}
#submit-btn:hover {
    box-shadow: 0px 1px 18px #24c64f;
}
.form {
    align-items: left;
    display: flex;
    flex-direction: column;
}
.form-border {
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
    height: 1px;
    width: 100%;
}
.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}
.underline-title {
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
}
#log-in-card-background{
    display: block;
    visibility: hidden;
    position: absolute;;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index:10;
    background: white;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

#log-in-card-background img{
    visibility: hidden;
    width: 100%;
    height: auto;
}

.closebtn::before, .closebtn::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 15px;
    top: 4%;
    right: 3%;
    margin-top: -1px;
    background: #2ec06f;
}
.closebtn::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.closebtn::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}